doctype html
html
    head
        meta(charset="UTF-8")
        link(href="/public/main.css" rel="stylesheet")
        link(href="/public/game.css" rel="stylesheet")
        title Home
    body
        p(id="error-message" class="error")

        div(id="lobby")
            table(id="ready-board")
                thead
                    tr
                        th(id="username") Username
                        th(id="is-ready") Ready
                tbody

            label(for="ready-btn") Ready
            input(id="ready-btn" type="checkbox")

            p(id="countdown")
        div(id="game-board")
            div(id="navbar")
                span #{username}

            div(id="top-bar")
                table(id="scoreboard")
                    tbody
                textarea(id="log", disabled)

            div(id="notifications")
                span(id="timer") 2:00
                span(id="spinner") Spinner here

            div(id="opponents")

            div(id="user-area")
                div(id="deck") Deck:
                div(id="user-cards")

        input(type="hidden" value=username id="client_username")

        div(id="opponent-template")
            span(class="opponent-name") Name
            span(class="opponent-status") Status
            ul(class="opponent-card-list")

        div(id="card-template")
            span(class="card-number") N
            span(class="card-title") Title
            div(class="card-picture") Picture
            p(class="card-description") Description
    script(src="/socket.io/socket.io.js")
    script(src="/public/client.js")