doctype html
html
    head
        meta(charset="UTF-8")
        link(href="/public/main.css" rel="stylesheet")
        link(href="/public/login.css" rel="stylesheet")
        title Login
    body
        form(method="post")
            label(for="username") Enter a username:
            input(type="text", id="username", name="username" placeholder="Username" tabindex="1" value=username)
            if error
                span(class="help-block error") #{error}
            input(type="submit", value="Submit")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript").
        document.getElementById('username').focus()