#error-message {
	display: none;
	text-align: center;
}

#lobby {
	text-align: center;
}

#ready-board {
	text-align: left;
	margin: 0 auto;
	min-width: 220px; /* Just long enough for a 16 character username */
}

#ready-board tr > td {
	padding: 5px;
}

#ready-board tr:nth-of-type(even) {
	background-color: #33363a;
	color: white;
}

#ready-btn {
	margin-top: 15px;
}

#countdown {
	display: none;
	text-align: center;
	margin-top: 15px;
	font-size: 1.8em;
}

#game-board {
	display: block;
}

#navbar {
	background-color: lightgray;
	width: 100%;
	height: 3em;
}

#navbar span {
	float: right;
	padding: 5px 15px 5px 5px;
	font-size: 1.8em;
}

#top-bar {
	display: flex;
	width: 100%;
	height: 100px;
}

#scoreboard {
	flex: 1;
	border: 1px solid black;
	margin: 0;
	height: 100%;
	padding: 10px;
	border-collapse: collapse;
}

#scoreboard thead, #scoreboard tbody {
	text-align: left;
}

#scoreboard tr {
	line-height: 14px;
}

#scoreboard tr > td {
	padding: 5px;
}

#scoreboard tbody tr:nth-of-type(odd) {
	background-color: #33363a;
	color: white;
}

#log {
	flex: 2;
	border: 1px solid black;
	overflow-y: scroll;
	font-size: 16px;
	padding: 5px;
}

#notifications {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#notifications span {
	padding: 5px 10px;
	font-size: 1.6em;
}

#opponents {
	display: flex;
	width: 100%;
	min-height: 150px;
}

.opponent {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	width: 300px;
}

.opponent-name {
	font-size: 20px;
}

.opponent-status {
	font-size: 14px;
	float: right;
}

.opponent-card-list {
	list-style-type: none;
	overflow-y: scroll;
}

#user-area {
	margin-top: 5px;
	display: flex;
	width: 100%;
	min-height: 250px;
}

#deck {
	flex: 1;
	font-size: 20px;
}

#user-cards {
	display: flex;
	flex: 2;
	justify-content: flex-end;
}

.card {
	height: 175px;
	width: 150px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2px;
	margin-left: 2px;
}

.card-title {
	margin-left: 20px;
}

#card-template, #opponent-template {
	display: none;
}