#error-message {
	display: none;
	text-align: center;
}

#lobby {
	text-align: center;
}

#ready-board {
	text-align: left;
	margin: 0 auto;
	min-width: 220px; /* Just long enough for a 16 character username */
}

#ready-board tr > td {
	padding: 5px;
}

#ready-board tr:nth-of-type(even) {
	background-color: #33363a;
	color: white;
}

#ready-btn {
	margin-top: 15px;
}

#countdown {
	display: none;
	text-align: center;
	margin-top: 15px;
	font-size: 1.8em;
}

#game-board {
	display: none;
}

#navbar {
	background-color: lightgray;
	width: 100%;
	height: 3em;
}

#top-bar {
	display: flex;
	width: 100%;
	height: 250px;
}

#scoreboard {
	flex: 1;
	border: 1px solid black;
	margin: 0;
	height: 100%;
	padding: 10px;
	border-collapse: collapse;
}

#scoreboard thead, #scoreboard tbody {
	text-align: left;
}

#scoreboard tr {
	line-height: 14px;
}

#scoreboard tr > td {
	padding: 5px;
}

#scoreboard tbody tr:nth-of-type(odd) {
	background-color: #33363a;
	color: white;
}

#log {
	flex: 2;
	border: 1px solid black;
	overflow-y: scroll;
	font-size: 16px;
	padding: 5px;
}

#notifications {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#notifications span {
	padding: 5px 10px;
	font-size: 1.6em;
}

#opponents {
	display: flex;
	width: 100%;
	min-height: 150px;
}

.opponent {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	width: 300px;
}

.opponent-name {
	font-size: 20px;
}

.opponent-status {
	font-size: 14px;
	float: right;
}

.opponent-card-list {
	list-style-type: none;
	overflow-y: scroll;
}

#user-area {
	margin-top: 5px;
	display: flex;
	width: 100%;
	min-height: 250px;
}

#deck {
	flex: 1;
	font-size: 20px;
}

#user-cards {
	display: flex;
	flex: 2;
	justify-content: flex-end;
}

.card {
	height: 100%;
	width: 30%;
	max-height: 275px;
	max-width: 240px;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 4px;
	margin-left: 2px;
	animation: fadein 1s;
}

.card-title {
	margin-left: 10px;
}

.card-picture {
	margin-top: 10px;
	margin-bottom: 10px;
}

#card-template, #opponent-template {
	display: none;
}

.current-turn {
	background-color: #c8f7c8;
	border: 3px solid green;
}

.selectable {
	cursor: pointer;
}

.selected {
	background-color: black;
	color: white;
}

.out {
	cursor: not-allowed;
	border: 3px solid red;
}

.protected {
	cursor: not-allowed;
	background-color: #88e2de;
	border: 3px solid lightblue;
}

#available-cards {
	display: none;
	list-style-type: none;
}

.available-card {
	padding: 2px;
}

.available-card:hover, .available-card.selected {
	background-color: black;
	color: white;
	border: none;
}

#user-area button {
	height: 35px;
}

#discard-btn {
	display: none;
}

#against-self-btn {
	display: none;
}

.discarded-cards {
	border: 3px solid #777777;
	margin-left: 20px;
	padding: 7px;
	border-radius: 5px;
}

.discarded-cards ul {
	margin-left: 0;
	padding-left: 4px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

.modal-body {
	font-size: 26px;
	font-weight: bold;
	margin: 30% auto;
	padding: 10px;
	width: 20%;
	animation: fadein 1s;
}

.message-win {
	color: #463fb1;
}

.message-lost {
	color: #bf2929;
}

/* Smart phone styling */
@media only screen and (min-width: 360px) and (max-width: 767px) {
	#lobby {
		font-size: 26px;
		margin: 50% auto;
	}
	#ready-board {
		margin-bottom: 20px;
	}
	#ready-btn {
		transform: scale(1.2);
	}

	#top-bar {
		height: 150px;
		font-size: 14px;
	}
	#opponents {
		overflow-x: scroll;
	}
	.opponent {
		max-width: 230px;
	}
	.opponent-card-list {
		font-size: 14px;
		margin-left: 0;
		padding-left: 0;
	}
	#opponent-discard-pile .opponent-name {
		font-size: 16px;
	}
	.card {
		height: 60%;
		width: 80%;
		font-size: 14px;
		overflow: scroll;
	}

	.modal-body {
		margin: 50% auto;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}