body {
	font-family: Verdana, Arial, sans-serif;
}

.help-block {
	font-size: .8em;
}

.error {
	color: #bf222f;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}